// .mapa{
//     padding: auto;
//     position: relative;
//     left: 602px;
// }

// .fa-street-view{
//     margin-top: 40px;
//     font-size: 20px;
// }

// .direccion-encontranos{
//     font-size: 20px;
//     margin-left: 604px;
// }


// .encontranos{
//     margin-top: 200px;
//     text-align: center;
//     margin-bottom: 70px;
// }

// .dejanos{
//     margin-top: 221px;
//     text-align: center;
// }

.contenido-comunicate{
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    
}

.contenido-mapa{
    margin-right: 47px;
}

.contenido-formulario{
    margin-left: 86px;
}