





/* Fundacion logoterapeuta */
.fundacion-logoterapeuta{
    margin-bottom: 70px;
    margin-top: 70px;
    
    
     .h1-logoterapia{
        margin-top: 100px;;
      }
    .parrafo-logoterapia{
        text-align: justify;
 
      }
      
    .video{
      float: left;
      margin-right:20px;
       }
      
     

 }