
/* header */
header{
   
    .logo-meta{
        width: 45px ;
      }

    .navbar{
        margin-bottom: 40px;
        background-color: #F6F6F4;
        
      }
      
    .nav-link{
        font-size: 13px;

        }

     
      

      
}