/* profesionales */
.profesionales{
    
        margin-top: 306px;
       
        
        .conteiner{
          // margin-top: 78px;
          // display: flex;
          // justify-content: space-around;
          
          
          
            
        }
        .profesionales1{
          width: 300px;
          
        }
        

     .card-img-top:hover{
      animation: swing; 
      animation-duration: 1s;
      
     }

     

}